.titleAndCaption{
    max-width: 700px;
    text-align: center;
}


.buyAvadaSection{
    background-color: #FFE979;
}
/* ========================= tenth section - faq section */

.faqSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 30px 124px 30px;
}
.faqSection h1{
    margin-bottom: 48px;
}

.faqQuestionCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: center;
    border-bottom-color: #F1F1F1;
    border-bottom-width: 1;
    border-bottom-style: solid;
}
.faqQuestionCard:hover{
    border-bottom-color: #DFDFDF;
}

.faqQuestionCard:hover i{
    color: #65BA3B;
}
.faqTitle{
    flex-grow: 1;
    font-size: 1.5em;
}


/* ========================= ninth section - supportDocSection Section */
.supportDocSection .grid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 96px;
    height: max-content;
}
.supportDocSection .grid .featuresBanner{
    height: 100%;
    width: 33%;
    padding: 32px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    height: auto;
}
.supportDocSection .grid .featuresBanner img{
    width: auto;
    object-fit: contain;
    height: 352px;
    margin-bottom: 20px;
}
/* ========================= eights section - mobile ready Section */
.mobileReadySection{
    padding: 96px 30px 48px 30px;
}
.mobileReadySection .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 48px 0px 48px;
    width: 100%;
}

.mobileReadySection .caption{
    min-width: 30%;
    max-width: 45%;
}
.mobileReadySection .caption .titleAndCaption{
    text-align: left;
    align-items: center;
    justify-content: center;
}
.mobileReadySection .caption .titleAndCaption h2{
    font-size: 2em;
}
.mobileReadySection .caption .titleAndCaption p{
    font-size: 1.125em;
    color: #575757;
    line-height: 30px;
}
.mobileReadySection .picture{
    height: auto;
    width: 50%;
    margin-left: 50px;
    margin-right: 64px;
}
.mobileReadySection .picture img{
    width: 100%;
}

.mobileReadySection .yellowBanner{
    padding: 48px 48px 48px 48px;
    margin: 0px 32px 0px 64px;
    background-color: #FFE979;
    border-radius: 5px;
    text-align: center;
}
.mobileReadySection .yellowBanner i{
    width: 82px;
    height: 82px;
}
/* ========================= seventh section - avada studio Section */
.avadaStudio{
    background-color: #FFF9E0;
    width: 100%;
}
.avadaStudio .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 48px 0px 48px;
    width: 100%;
}

.avadaStudio .caption{
    min-width: 30%;
    max-width: 45%;
}
.avadaStudio .caption .titleAndCaption{
    text-align: left;
    align-items: center;
    justify-content: center;
}
.avadaStudio .caption .titleAndCaption h2{
    font-size: 3em;
}
.avadaStudio .caption .titleAndCaption p{
    font-size: 1.125em;
    color: #575757;
    line-height: 30px;
}
.avadaStudio .picture{
    height: auto;
    width: 50%;
    margin-left: 50px;
}
.avadaStudio .picture img{
    width: 100%;
}
/* ========================= sixth section - setup wizard Section */

.setupWizardSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.setupWizardSection .titleAndCaption h2{
    font-size: 3em;
}
.setupWizardSection .titleAndCaption p{
    margin: 0px 0px 24px 0px;
    color: #414141;
    line-height: 30px;
    font-size: 1.125em;
}
.setupWizardSection .grid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 96px;
    height: max-content;
}
.setupWizardSection .grid .featuresBanner{
    height: 100%;
    width: 33%;
    padding: 32px;
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    height: auto;
}
.setupWizardSection .grid .featuresBanner img{
    width: 100%;
    height: auto;
}

/* ========================= sixth section - features grid Section */

.featuresGridSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    padding: 0px 30px 72px 30px;
    align-items: center;
    justify-content: center;
}


/* ========================= fifth section - Why Avada Section */

.whyAvadaSection{
    display: flex;
    flex-direction: column;
    padding: 96px 30px 48px 30px;
    align-items: center;
}
.whyAvadaSection .titleAndCaption h2{
    font-size: 3em;
    margin: 0px 0px 20px 0px;
}
.whyAvadaSection .titleAndCaption p{
    margin: 0px 0px 24px 0px;
    color: #414141;
    line-height: 30px;
    font-size: 1.125em;
}

.number1{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.numberOneBanner{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 30%;
    background-color: #FFE979;
    border-radius: 5px;
    text-align: center;
    padding: 24px 24px 24px 24px;
    margin: 0px 24px 0px 24px;
}
.numberOneBanner h1{
    font-size: 8em;
    margin: 0px;
}
.numberOneBanner p{
    font-size: 1.125em;
    color: #414141;
}
.numberOneBanner .buyerNumberLabel{
    background-color: white;
    color: #282828;
    border-radius: 5px;
    margin: 24px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}
.noCodingBanner{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: rgb(251, 251, 251);
    padding: 48px 64px 48px 64px;
    margin: 0px 25px 0px 25px;
    border-radius: 5px;
}
.noCodingBanner .titleAndCaption{
    text-align: left;
}
.noCodingBanner .titleAndCaption h3{
    font-size: 2em;
    margin: 0px 0px 20px 0px;
}
.noCodingBanner .titleAndCaption h3{
    font-size: 2em;
}
.noCodingBanner img{
    height: auto;
    object-fit: contain;
    width: 60%;
    margin: 0px 14px 0px 14px;
}


/* ========================= forth section - features Section */
.featuresSection{
    padding: 144px 0px 62px 0px;
    display: flex;
    flex-direction: column;
    background-color: #FFF9E0;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.featuresSection .titleAndCaption h2{
    font-size: 3em;
    margin: 0px 0px 24px 0px;
}
.featuresSection .titleAndCaption p{
    margin: 0px 0px 24px 0px;
    color: #414141;
}

.featuresGridList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

.featuresBanner{
    margin-top: 20px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 373px;
    text-align: center;
}

.featuresBanner h3{
    font-size: 1.5em;
    margin-bottom: 12px;
    font-weight: 400;
    margin-top: 0px;
}

.featuresBanner p{
    font-size: 1em;
    color: #575757;
    line-height: 1.6em;
}

.featuresBanner img{
    max-width: 373px;
    height: auto;
    margin-bottom: 32px;
}

/* ========================= second section - Square Bird section */

.websiteCategories{
    padding: 124px 0px 64px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.websiteCategories h1{
    font-size: 3em;
}

.websiteCategories p{
    font-size: 1.125em;
    color: #414141;
}
.listOfCategories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.category{
    margin: 8px 8px 8px 10px;
    text-decoration: none;
    color: #282828;
}

.listOfCategories .roundedCornerBorderButton{
    border-color: #dfdfdf;
}

.demo-banner-5{
    margin-bottom: -100px;
    z-index: 2;
}
/* ========================= first section - Square Bird section */

.initialBannerSection{
    display: flex;
    flex-direction: row;
}


.initialBannerSection img{
    width: 45%;
    object-fit: cover;
}

.initialBannerDescription h4{
    font-size: 1.25em;
    margin: 0%;
}

.initialBannerDescription{
    flex-grow: 1;
    background-color: #FFE979;
    display: block;
    padding: 96px 72px 96px 72px;
}


.initialBannerDescription p{
    color: #282828;
    font-size: 1.125em;
}

.initialBannerDescription h1{
    color: #282828;
    font-size: 4em;
    line-height: 72px;
}

.initialBannerDescription a{
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 32px;
    margin-right: 23px;
}
.initialBannerDescription i{
    margin-left: 12px;
}
.initialBannerDescription .preTitle{
    font-size: 1.25em;
}




.initialBannerDescription .roundedCornerBorderButton{
    background-color: #282828;
}