.titleAndCaption{
    max-width: 700px;
    text-align: center;
}


.buyAvadaSection{
    background-color: #FFE979;
}
/* ========================= tenth section - faq section */

.faqSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 30px 124px 30px;
}
.faqSection h1{
    margin-bottom: 48px;
}

.faqQuestionCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: center;
    border-bottom-color: #F1F1F1;
    border-bottom-width: 1;
    border-bottom-style: solid;
}
.faqQuestionCard:hover{
    border-bottom-color: #DFDFDF;
}

.faqQuestionCard:hover i{
    color: #65BA3B;
}
.faqTitle{
    flex-grow: 1;
    font-size: 1.5em;
}


/* ========================= ninth section - supportDocSection Section */
.supportDocSection .grid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 96px;
    height: max-content;
}
.supportDocSection .grid .featuresBanner{
    height: 100%;
    width: 33%;
    padding: 32px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    height: auto;
}
.supportDocSection .grid .featuresBanner img{
    width: auto;
    object-fit: contain;
    height: 352px;
    margin-bottom: 20px;
}
/* ========================= eights section - mobile ready Section */
.mobileReadySection{
    padding: 96px 30px 48px 30px;
}
.mobileReadySection .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 48px 0px 48px;
    width: 100%;
}

.mobileReadySection .caption{
    min-width: 30%;
    max-width: 45%;
}
.mobileReadySection .caption .titleAndCaption{
    text-align: left;
    align-items: center;
    justify-content: center;
}
.mobileReadySection .caption .titleAndCaption h2{
    font-size: 2em;
}
.mobileReadySection .caption .titleAndCaption p{
    font-size: 1.125em;
    color: #575757;
    line-height: 30px;
}
.mobileReadySection .picture{
    height: auto;
    width: 50%;
    margin-left: 50px;
    margin-right: 64px;
}
.mobileReadySection .picture img{
    width: 100%;
}

.mobileReadySection .yellowBanner{
    padding: 48px 48px 48px 48px;
    margin: 0px 32px 0px 64px;
    background-color: #FFE979;
    border-radius: 5px;
    text-align: center;
}
.mobileReadySection .yellowBanner i{
    width: 82px;
    height: 82px;
}
/* ========================= seventh section - avada studio Section */
.avadaStudio{
    background-color: rgb(235,255,225);
    width: 100%;
}
.avadaStudio .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 48px 0px 48px;
    width: 100%;
}

.avadaStudio .caption{
    min-width: 30%;
    max-width: 45%;
}
.avadaStudio .caption .titleAndCaption{
    text-align: left;
    align-items: center;
    justify-content: center;
}
.avadaStudio .caption .titleAndCaption h2{
    font-size: 3em;
}
.avadaStudio .caption .titleAndCaption p{
    font-size: 1.125em;
    color: #575757;
    line-height: 30px;
}
.avadaStudio .picture{
    height: auto;
    width: 50%;
    margin-left: 50px;
}
.avadaStudio .picture img{
    width: 100%;
}



/* ========================= fifth section - Launch website Section */
.launchWebsiteToSellSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.launchWebsiteToSellSection .builderBanner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
}

.launchWebsiteToSellSection .builderBanner .titleAndCaption{
    text-align: left;
    margin: 0px 100px 0px 100px;
    
}
.launchWebsiteToSellSection .builderBanner .titleAndCaption h2{
    font-size: 2em;
}
.launchWebsiteToSellSection p{
    font-size: 1.125em;
    color: #575757;
    line-height: 32px;
}

.launchWebsiteToSellSection .builderBanner img{
    width: 60%;
    height: auto;
    object-fit: contain;
}
.launchWebsiteToSellSection .builderBanner a{
    color: #282828;
    font-size: 1em;
    text-decoration: underline;
}
.launchWebsiteToSellSection .builderBanner i{
    margin-left: 10px;
}
.launchWebsiteToSellSection .builderBanner a:visited{
    color: #282828;
    text-decoration: underline;
}

/* ========================= forth section - create Fast Section */

.createFastSection{
    display: flex;
    flex-direction: column;
    padding: 96px 30px 48px 30px;
    align-items: center;
}
.createFastSection .titleAndCaption h2{
    font-size: 3em;
    margin: 0px 0px 20px 0px;
}
.createFastSection .titleAndCaption p{
    margin: 0px 0px 24px 0px;
    color: #414141;
    line-height: 30px;
    font-size: 1.125em;
}
.createFastSection .featuresGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
    align-items: stretch;
    height: max-content;
    justify-content: center;
    padding: 48 30px 64px 30px;
}
.createFastSection .featuresGrid .featuresBanner{
    height: 100%;
    width: 33%;
    padding: 32px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    height: auto;
    line-height: 32px;

}
.createFastSection .featuresGrid .featuresBanner h3{
    font-size: 1.5em;
}

.createFastSection .featuresGrid .featuresBanner img{
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}


/* ========================= third section - Design Freedom section */

.designFreedomSection{
    padding: 96px 0px 96px 0px;
    background-color: rgb(235, 255, 225);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.designFreedomSection .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.designFreedomSection img{
    margin: 20px 50px 96px 50px;
    object-fit: contain;
    width: 100%;
    height: auto;
}
.designFreedomSection .titleAndCaption h1{
    font-size: 3em;
}
.designFreedomSection .titleAndCaption h2{
    font-size: 2em;
}
.designFreedomSection p{
    color: #575757;
    font-size: 1.125em;
}

.designFreedomSection .grid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
    align-items: stretch;
    height: max-content;
}
.designFreedomSection .grid .featuresBanner{
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.designFreedomSection .grid .featuresBanner img {
    margin-bottom: 32px;
}
.designFreedomSection .grid .featuresBanner h3 {
    line-height: 32px;
    font-size: 1.5em;
}


/* ========================= second section - features grid */

.featuresGrid{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: center;
    justify-content: center;
    column-gap: 40px;
    padding: 96px 30px 96px 30px;
}
.iconBanner{
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}
.iconBanner .titleAndCaption h2{
    font-size: 1.5em;
    margin: 24px 0px 12px 0px;
}
.iconBanner .titleAndCaption p{
    font-size: 1.5em;
    font-size: 1em;
    color: #575757;
    line-height: 30px;
    margin-bottom: 20px;
}
.iconBanner .titleAndCaption span{
    text-decoration: underline;
    color: #282828;
    font-size: 1.125em;
}
/* ========================= first section - initial banner section */

.initialBannerSection{
    display: flex;
    flex-direction: row;
}


.initialBannerSection img{
    width: 45%;
    object-fit: cover;
}

.initialBannerDescription h4{
    font-size: 1.25em;
    margin: 0%;
}

.initialBannerDescription{
    flex-grow: 1;
    background-color: #b7f598;
    display: block;
    padding: 96px 72px 96px 72px;
}


.initialBannerDescription p{
    color: #282828;
    font-size: 1.125em;
    line-height: 30px;
    margin-bottom: 32px;
    margin-right: 38px;
}

.initialBannerDescription h1{
    color: #282828;
    font-size: 4em;
    line-height: 72px;
}

.initialBannerDescription a{
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 32px;
    margin-right: 23px;
}
.initialBannerDescription i{
    margin-left: 12px;
}
.initialBannerDescription .preTitle{
    font-size: 1.25em;
}




.initialBannerDescription .roundedCornerBorderButton{
    background-color: #282828;
}