body{
    font-family: sans-serif;
}

.center{
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.commonWidthOrganizer{
    width: 100%;
    max-width: 1330;
}





/* ========================= fifth section - Installation Number Section */

.installationNumberSection h2{
    font-size: 2.8em;
}
.installationNumberSection p{
    font-size: 1.2em;
    color: #575757;
}

.featuresGridList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

/* ========================= forth section - Discover More Banners */

.discoverMoreSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px 96px 0px;
}

.discoverMoreSection .roundedCornerBorderButton{
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 16px 32px 16px 32px;
    background-color: #282828;
    color: white;
    text-decoration: none;
}

.discoverMoreSection h1{
    font-size: 3em;
}

.discoverMoreSection p{
    font-size: 1.125em;
    color: #575757;
    margin-bottom: 48px;
}

.discoverMoreGridList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

.discoverMoreBanner{
    margin-top: 20px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 373px;
    text-align: center;
}

.discoverMoreBanner h3{
    font-size: 1.5em;
    margin-bottom: 12px;
    font-weight: 400;
    margin-top: 0px;
}

.discoverMoreBanner p{
    font-size: 1em;
    color: #575757;
    line-height: 1.6em;
}

.discoverMoreBanner img{
    max-width: 373px;
    height: auto;
    margin-bottom: 32px;
}



/* ========================= third section - builders sample images */

.builderSampleImagesSection{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.builderSampleImagesSection .logo{
    width: 10%;
    height: auto;
}
.builderSampleImagesSection p{
    font-size: 1.125em;
    color: #575757;
    margin-bottom: 48px;
}
.builderSampleImagesSection h1{
    font-size: 3em;
    margin-bottom: 0%;
}
.builderImagesList{
    display: flex;
    align-items: start;
}
.builderImagesList .list{
    flex-grow: 1;
}
.builderImagesList .list a{
    display: flex;
    text-decoration: none;
    color: black;
}

.builderImagesList .list{
    padding-inline-start: 0%;
    margin-right: 3%;
}

.builderImagesList .list li{
    display: flex;
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-size: 1.25em;
}

.builderImagesList .list i{
    margin-right: 12px;
}



.builderImagesList .listItem{
    padding: 13px 24px 13px 24px;
    margin-bottom: 24px;
    flex-grow: 1;
}

.builderImagesList .listItem:hover{
    background-color: #F6F6F6;

}

.layoutBuilderImage{
    width: 75%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    vertical-align: top;
}
/* ========================= Second section - thriple banners */



.thripleBannerSection{
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    height: 550px;
}

.verticalBanner{
    border-radius: 5px;
    width: 33%;
    height: 530;
    margin: 0px 12px 0px 12px;
    padding: 48px 56px 48px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-property: height;
    transition-duration: 0.5s;
    box-sizing: border-box;
}

.beginnerVerticalBanner:hover{
    background-color: #FFF484;
}

.verticalBanner:hover{
    height: 550px;
}

.verticalBanner img{
    width: 172px;
    height: auto;
    margin-bottom: 40px;
}
.verticalBanner h2{
    font-size: 2em;
}
.verticalBanner p{
    font-size: 1.125em;
}
.verticalBanner h6{
    font-size: 0.9em;
    margin: 0%;
}
.chipWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chip{
    font-size: 14px;
    margin: 0px 0px 7px 7px;
    padding: 10px 14px 10px 14px;
    border-radius: 5px;
    color: white;
}
.beginnerChipColor{
    background-color: #E0BB00;
}
.marketerChipColor{
    background-color: #65BA3B;
}
.professionalChipColor{
    background-color: #1698C0;
}






/* ========================= First Section - Home Banner */

.initialBannerSection{
    display: flex;
    height: 100%;
    margin-bottom: 48px;
}
.initialBannerSectionImage{
    width: 55%;
    height: auto;
    margin-left: 32px;
    float: right;
}
.initialBannerSection p{
    font-size: 1.125em;
    color: #575757;
    margin-bottom: 32px;
}
.initialBannerSection h1{
    font-size: 4em;
    letter-spacing: -0.96px;
    line-height: 32px;
}

.startBuildingButton{
    background-color: #282828;
    color: white;
    width: fit-content;
    font-size: 1.25em;
    padding: 16px 32px 16px 32px ;
}
.startBuildingButton i{
    margin-left: 14px;
}

.initialBannerStatisticsOverviewSection{
    display: flex;
}
.initialBannerStatisticsOverviewSection span{
    margin-right: 32px;
}
.initialBannerSection .seperator{
    margin-top: 48px;
    margin-bottom: 32px;
}
/* ========================= Header styles */

.header{
    height: 92px;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    font-size: 1.05em;
    font-weight: 500;
    margin-bottom: 16px;
}

.buttonIconLeft{
    padding-left: 10px;
}
.buttonIconRight{
    padding-right: 10px;
    width: 22;
    height: auto;
}

.topNavBar{
 padding: 10px;   
}

.topNavBarItem{
    display: inline;
    text-align: center;
    padding: 10px 14px;
}

.header a{
    text-decoration: none;
}

.header a:visited{
    color: black;
}

.roundedCornerBorderButton{
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 14px 24px;
}

.dropdown{
    position: relative;
    display: inline-block;

}
.dropdownContent{
    display: none;
    position: absolute;
    margin-top: 4px;
    padding: 24px 24px 24px 24px;
    border-radius: 10px;
    background-color: white;
}
.dropdown:hover .dropdownContent{
    display: block;
}

.bannerDropdown{
    box-shadow: rgba(0, 0, 0, 0.14) 0px 48px 72px -16px;

}
.bannerDropdownCard{
    width: 376px;
    height: 120px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;

}
.bannerDropdownCardImage{
    width: 96px;
    height: auto;
    padding-left: 14px;
    padding-right: 14px;
}
.bannerDropdownCardTexts{
    flex-grow: 1;
    padding-left: 5%;
    padding-right: 5%;
}


.bannerDropdownTitle{
    font-size: 1.5em;
    text-align: start;
    padding-bottom: 2%;
}
.bannerDropdownSubTitle{
    font-size: 0.88em;
    text-align: start;
}
.beginnerBGColor{
    background-color: #ffe979;
}

.marketersBGColor{
    background-color: #b7f598;
}

.professionalsBGColor{
    background-color: #7ed5f0;
}

.listDropdown{
    padding: 24px 24px 24px 24px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 48px 72px -16px;
}

.listDropdownCard{
    display: flex;
    height: 80;
    width: 300;
    padding: 16px 20px 16px 20px;
    margin: 0px 6px 0px 6px ;
    box-sizing: border-box;
}
.listDropdownCard:hover{
    background-color: #F6F6F6;
}

.listDropdownCardText{
    flex-grow: 1;
}

.listDropdownTitle{
    font-size: 1.125em;
    text-align: start;
    padding-bottom: 2%;
}
.listDropdownSubTitle{
    font-size: 0.88em;
    text-align: start;
    padding-left: 32px;
}